<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title><%= blog.title %></title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container mt-3">
        <div class="card" style="width: 18rem;">
            <img src="<%= blog.coverImageUrl %>" class="card-img-top" alt="<%= blog.title %>">
            <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
                <p class="card-text"><%= blog.body %></p>
            </div>
        </div>
    </div>
    <%- include('./partials/script') %>
</body>
</html>
